.landing-container {
    position: relative;
    height: calc(100vh - 64px);
    width: 100%;
    top: 64px;
}

.restaurant-card {
    display: block;
    filter: drop-shadow(5px 5px 2px black);
    width: 23vh;
    min-width: 175px;
    height: 23vh;
    min-height: 175px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.restaurant-card-contents{
    display: inline;
    width: 23vh;
    height: 23vh;
    float: start;
    align-content: center;
}

.card-img{
    display: inline;
    position: relative;
    max-height: 19vh;
    min-height: 120px;
    max-width: 21vh;
    min-width: 150px;
}

.restaurant-list{
    margin: auto;
    gap: 0 !important;
}

.front-panel {
    height: calc(100vh - 28vh - 80px);
}

