.detailed-container {
  height: fit-content;
  top: 10%;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
}

.restaurant-card-t3 {
  display: inline-block;
  filter: drop-shadow(5px 5px 2px black);
  height: 30vh;
  min-height: 256px;
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
}

.card-img-t3 {
  object-fit: contain;
  display: block;
  position: relative;
  height: 15vh;
  min-height: 127px;
  width: 100%;
  border-radius: 5px;
  margin: auto;
}

.restaurant-card-contents-t3 {
  display: inline;
  width: 18vh;
  height: 18vh;
  float: start;
  align-content: center;
}

.restaurant-list-t3 {
  margin: auto;
  gap: 0 !important;
}

.restaurant-text-t3 {
  height: min-content;
  width: 70%;
  margin: auto;
}

.user-review-text {
  width: 70%;
}
